---
import Layout from "../../layouts/Layout.astro";
import projectsData from "../../data/projects.json";
import basePublicationsData from "../../data/publications.json";
import { extendPublications } from "../../lib/utils";
import PublicationCard from "../../components/PublicationCard.astro";

const BUCKET_BASE_URL = import.meta.env.BUCKET_BASE_URL;

interface Project {
  id: number;
  title: string;
  web_name: string;
  figure: string;
  abstract: string;
  caption: string | null;
  description: string;
  visible: boolean;
  type: "c" | "s";
  papers: number[];
}

export async function getStaticPaths() {
  const projects = projectsData as Project[];
  return projects
    .filter((item) => item.visible === true)
    .map((project) => ({
      params: { slug: project.web_name },
      props: { project },
    }));
}

interface Props {
  project: Project;
}

const { project } = Astro.props;

const projectPublications = basePublicationsData.filter((item) =>
  project.papers.includes(item.id)
);

const extendedProjectPublications = extendPublications(projectPublications);

const researchers = extendedProjectPublications
  .flatMap((pub) => pub.authors || [])
  .filter((author) => author.visible === 1)
  .filter(
    (author, index, self) => index === self.findIndex((a) => a.id === author.id)
  )
  .sort((a, b) => a.order - b.order);
---

<Layout>
  <div class="lg:py-8 space-y-4 lg:space-y-8">
    <h1 class="font-bold text-center text-2xl">{project.title}</h1>

    <div class="flex justify-center">
      <img
        src={`${BUCKET_BASE_URL}/images${project.figure}`}
        alt={project.title}
      />
    </div>

    <!-- Abstract section -->
    <div class="space-y-2 lg:space-y-4">
      <h2 class="text-base font-medium">ABSTRACT</h2>
      <p>{project.abstract}</p>
    </div>

    <!-- Researchers section -->
    {
      researchers.length > 0 && (
        <section class="space-y-2 lg:space-y-4">
          <h2 class="text-base font-medium">RESEARCHERS</h2>
          <ul class="list-disc pl-5">
            {researchers.map((researcher) => (
              <li class="flex items-center">
                <span class="text-gray-700 mr-2">•</span>
                {researcher.url ? (
                  <a 
                    href={researcher.url} 
                    class="text-gray-700 hover:text-orange-500 hover:underline transition-colors duration-200"
                    target="_blank" 
                    rel="noopener noreferrer"
                  >
                    {researcher.display_name}
                    {researcher.affiliation ? `, ${researcher.affiliation}` : ""}
                  </a>
                ) : (
                  <span class="text-gray-700">
                    {researcher.display_name}
                    {researcher.affiliation ? `, ${researcher.affiliation}` : ""}
                  </span>
                )}
              </li>
            ))}
          </ul>
        </section>
      )
    }

    <!-- Publications section -->
    <section class="space-y-2 lg:space-y-4">
      <h2 class="text-base font-medium">PUBLICATIONS</h2>
      {extendedProjectPublications.map((item) => <PublicationCard {...item} />)}
    </section>
  </div>
</Layout>
