---
import fs from "node:fs/promises";
import path from "node:path";
import Layout from "../../layouts/Layout.astro";

interface Content {
    title: string;
    coverImage: string;
    abstract: string;
}

export async function getStaticPaths() {
    const contentDir = path.join(process.cwd(), "src/data/projects");

    try {
        const files = await fs.readdir(contentDir);
        const jsonFiles = files.filter((file) => file.endsWith(".json"));

        return jsonFiles.map((file) => ({
            params: {
                slug: file.replace(".json", ""),
            },
            // Opcionalmente, podemos pasar props
            // props: { filename: file }
        }));
    } catch (error) {
        console.error("Error al leer el directorio:", error);
        return [];
    }
}

const { slug } = Astro.params;
let content: Content;

try {
    const contentDir = path.join(process.cwd(), "src/data/projects");
    const filePath = path.join(contentDir, `${slug}.json`);
    const fileContent = await fs.readFile(filePath, "utf-8");
    content = JSON.parse(fileContent);
} catch (error) {
    return Astro.redirect("/404");
}
---

<Layout>
    <h1 class="text-amber-400 font-bold">{content.title}</h1>
    <p>{content.abstract}</p>
    <img src={content.coverImage} alt={content.title} />
</Layout>